<!-- Navbar -->
<nav class="main_nav">
    <h1>
        <span>Employee</span>
        <span class="text-primary">Data</span>
    </h1>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">AboutUs</a></li>
        <li><a href="#">ContactUs</a></li>
        <li><a href="#">Career</a></li>
    </ul>
</nav>
<!-- landing image -->
<div class="container1">
    <div class="container-wrapper">
        <h1>
            <span>Welcome to</span>
            <span class="text-primary">Employee</span>
        </h1>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, earum vitae unde pariatur laboriosam quasi ab, perferendis placeat, aperiam suscipit recusandae expedita explicabo quibusdam dicta excepturi neque ea vero distinctio!
        </p>
        <button class="btn btn-primary btm-sm">Read more</button>
    </div>
</div>

<app-employee class="mt-5"></app-employee>
