<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <p class="h5">Login</p>
                    <p class="h6">Please enter Email & Password !</p>
                </div>
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="pwd">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Login</button>
                </form>
                <a class="text-light" routerLink="/signup" >New User? click to SignUp</a>
            </div>
        </div>
    </div>
</div>